@page "/"
@using GameBazaar.Client.Clients
@using SharedLibrary.Models

<PageTitle>Home</PageTitle>

@if(games is null)
{
   <p><em>Loading...</em></p> 
}

else
{
    <table class="table table-striped table-bordered table-hover mt-3">
        <thead class="table-dark">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Genre</th>
        <th scope="col">Price</th>
        <th scope="col">Release Date</th>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td class="text-end">@game.Price</td>
                    <td>@game.ReleaseDate.ToString("MM/dd/yyy")</td>
                </tr>
            }
        </tbody>
    </table>
    
}



@code {
    private GamesClient client = new();
    private Game[]? games;
}